/* 全体のCSS */
html{
  height:100%;
}
body{
  height:100%;
}
/* body, #wrapper{
   display:flex;
   flex- direction: column;
   min-height: 100vh;
}

footer{
  margin-top:auto;
} */


li {
  list-style: none;
}
/* ヘッダーのCSS */

.header{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  color:white;
  position: fixed;
  top: 0px;
  z-index: 10;
}
.header-logo p{
  font-size: 20px;
  float:left;
  margin: 20px;
}
.header-list{
  float:left;
  transition: all 0.5s;
}
.btn-h:hover {
  background-color: rgba(255, 255, 255, 0.5);
}




.header-list li{
  float:left;
  /* padding: 0 10px; */
  /* text-align: center; */
  line-height: 30px;
  padding: 5px 25px;
 color: white;
 display: block;
 /* background-color: rgba(240, 240, 240, 0.5); */
}

a {
 font-weight:bold;
 text-decoration:none;
 color: white;
}


/* メインのCSS */
.main{
  height:600px;
  /* width:1000px */
  margin:100px 40px;
  background-color: #bdf7f1;


}


.lesson-icon img{
  position: absolute;
  height:80px;
  width: 50px;
  /* width: 80px; */
  background-color: white;
   /* background-height:20px;
   backgrond-width:10px; */

  /* background-size:; */
  padding: 10px 20px;
  border-radius: 30%;
}
.lesson-icon{
  /* position: relative; */
  /* background-color: white; */
  /* height:50px; */
  /* width:30px; */
  /* border-radius: 40%; */
 /* margin-top: 5px */
  padding: 50px 100px;
}

.lesson{
  float:left;
  width:25%;
  /* padding:0 5px; */

  /* margin-top: 50px;
  padding:5px; */
  /* width:auto; */
}
.icon-title{
  text-align: center;
   font-size: 36px;
   padding-top: 30px;
   border-bottom: 1px solid gray;
}


.text-lesson{
  /* width: 25%; */
  /* padding-top: 30px; */
  margin-top:50px;
  font-size:13px;
  /* word-break: keep-all; */
  word-wrap: break-word;
  /* color: #b3aeb5; */
  text-align: center;
  margin:5px;
  display: inline-block;

}
.lesson-box1{
  background-color: #ffc562;
  height:400px;
  width:300px;
  margin-left: 20px;
}
.lesson-box2{
  background-color: #a0c3f7;
  height:400px;
  width:300px;
  margin-left: 20px;
}
.lesson-box3{
  background-color: #ff8db3;
  height:400px;
  width:300px;
  margin-left: 20px;
}
.lesson-box4{
  background-color: #88e7ce;
  height:400px;
  width:300px;
  margin-left: 20px;
}







/* フッターのCSS */
footer{
  clear: both;
  height: 65px;
  background-color: rgba(34, 49, 52, 0.9);
  color:white;
  /* float: left; */
}
.footer-logo p{
   font-size: 10px;
   padding:10px;
}

.footer-list{
  float:left;
  /* display:inline-block; */
  transition: all 0.5s;

}
.footer-list li{
  /* display:inline-block; */
  float:left;
  /* padding: 0 10px; */
  /* text-align: center; */
  line-height: 30px;
  padding: 5px 25px;
 color: white;
 display: block;
 /* background-color: rgba(240, 240, 240, 0.5); */
}
